.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding-right: 5%;
}

.form-row {
  width: 70%;
  margin-bottom: 1em;
}

.form-content input,
#message {
  float: right;
  width: 70%;
  border: none;
  border-radius: 5px;
  background-color: #9b9b9b;
}

.form-content input {
  color: black;
  height: 2.5em;
  padding-left: 2%;
}

#message {
  min-width: 70%;
  max-width: 70%;
  height: 20em;
  padding: 2%;
  font-size: 1.25em;
}

.form-content label {
  font-size: 1.25em;
  width: 30%;
}

.recommendation-content {
  width: 50%;
  padding-left: 5%;
}
