:root {
  --main-background: #444;
  --darker-background: #3f3f3f;
  --bright-red: #ff4b5c;
  --red: #ff6b79;
  --white: white;
  --black: black;
  --icon-title: #d3d3d3;
  --input: #5a5a5a;
  --input-hover: #626262;
  --thin-f: 100;
  --light-f: 200;
  --normal-f: 300;
  --bold-f: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.75em;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Styles for all the h2's in the beginning of every content area */
h2 {
  font-weight: var(--thin-f);
  font-size: 2.5em;
  /* margin: 0; */
  padding-top: 7vh;
  padding-bottom: 2.5%;
  text-align: center;
}

@media (max-width: 860px) {
  h2 {
    padding-bottom: 10%;
  }
}

/*
GENERAL CSS
*/

body {
  padding-top: 7em;
  background-color: var(--main-background);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

/*
HEADER
*/

.header {
  top: 0;
  height: 7em;
  background-color: var(--main-background);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0 20%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
  opacity: 0.98;
  transition: top 0.2s ease-in-out;
}

.header-up {
  top: -7em;
}

.logo {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: var(--normal-f);
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: auto;
  width: 30%;
  height: 7rem;
  transition: transform 250ms ease-out, color 250ms;
}

.logo span {
  font-size: 1.75em;
  font-weight: var(--normal-f);
  color: var(--bright-red);
}

.nav-links {
  width: 70%;
}

.nav-links li {
  display: flex;
  height: 100%;
  width: 25%;
  float: left;
  justify-content: center;
  align-items: center;
}

.nav-links li a img {
  display: none;
}

.nav-links li a {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: var(--normal-f);
  padding: 10%;
  transition: transform 250ms ease-out, color 250ms;
}

.nav-links li a:hover,
.logo:hover {
  transform: translateY(-10px);
  color: var(--red);
}

@media (max-width: 1350px) {
  .header {
    padding: 0;
  }
}

@media (max-width: 860px) {
  .nav-links li {
    display: none;
  }

  .nav-links {
    margin-left: 0;
    width: 0;
    opacity: 0;
  }

  .header.active {
    width: 100%;
    z-index: 999;
    height: 7em;
  }

  .header.active > .nav-links {
    background-color: var(--main-background);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    padding: 5% 10%;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    position: fixed;
    top: 7em;
    width: 100%;
    opacity: 1;
    -webkit-transition: height 1 s ease;
    transition: opacity 0.3s;
  }

  .header.active .nav-links li {
    display: inline;
    width: 100%;
  }

  .nav-links li a img {
    padding-bottom: 1em;
    width: 48px;
    align-self: center;
    display: inline;
  }

  .nav-links li a {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 40%;
    font-size: 1.5em;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  .header.active > .nav-links {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*
MOBILE
*/

.hamburger-icon {
  position: fixed;
  top: 45px;
  right: 28px;
  width: 47px;
  height: 32px;
  display: block;
  padding: 2px;
}

.hamburger-icon > span {
  z-index: 1001;
  display: none;
  width: 35px;
  height: 2px;
  background-color: var(--bright-red);
  margin: 5px 0;
  float: right;
}

.hamburger-icon .line-2 {
  transform: translateY(10px) translateX(-7px);
}

.hamburger-icon .line-3 {
  transform: translateY(20px);
}

@media (max-width: 860px) {
  .hamburger-icon > span {
    position: fixed;
    right: 30px;
    top: 45px;
    display: inline;
    transition: 0.5s;
  }

  .hamburger-icon.active .line-2 {
    transform: translateX(-20px) translateY(10px);
    opacity: 0;
  }

  .hamburger-icon.active .line-1 {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-icon.active .line-3 {
    transform: translateY(8px) rotate(-45deg);
  }

  .header-up .hamburger-icon,
  .header-up .hamburger-icon .line-1,
  .header-up .hamburger-icon .line-2,
  .header-up .hamburger-icon .line-3 {
    top: -7em;
    transition: top 0.2s ease-in-out;
  }
}

/*
CONTENT
*/

.content-area:nth-of-type(odd) {
  background-color: var(--darker-background);
}

/*
INTRODUCTION SECTION
*/

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.hello-line {
  font-size: 2.25em;
  color: var(--red);
}

h1 {
  display: inline-block;
  color: var(--white);
  font-size: 8em;
  font-weight: var(--thin-f);
  width: 100%;
}

.slogan {
  font-size: 2.5em;
  color: var(--red);
}

.intro-text {
  margin-top: 1%;
  font-size: 1.75em;
  width: 100%;
}

@media (max-width: 1920px) {
  h1 {
    font-size: 7em;
  }
}

@media (max-width: 1535px) {
  h1 {
    font-size: 6em;
  }

  .slogan {
    font-size: 2.25em;
  }
}

@media (max-width: 1350px) {
  .introduction-wrapper {
    width: 75%;
    margin: 0 10% 0 15%;
  }
}

@media (max-width: 860px) {
  h1 {
    font-size: 5em;
  }
}

@media (max-width: 430px) {
  .introduction-wrapper {
    width: 85%;
    margin: 0 10%;
  }

  .hello-line {
    padding-top: 30%;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 4.5em;
  }
}

@media (max-height: 830px) {
  .introduction-wrapper {
    display: block;
  }

  .hello-line {
    padding-top: 150px;
  }
}

/*
ABOUT ME SECTION
*/

.about-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 7vh;
}

.about-container {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-container img {
  min-height: 68px;
  min-width: 68px;
  border-radius: 25%;
  width: 30%;
  height: 100%;
  margin: 5% auto;
}

.about-text-section {
  width: 55%;
  margin-left: 15%;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: var(--normal-f);
}

.about-icon-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: solid 2px var(--bright-red);
}

.about-mobile-dots {
  display: none;
}

.dot {
  display: none;
  height: 5px;
  width: 5px;
  background-color: var(--red);
  border-radius: 50%;
  margin: 2.5px;
}

.icon-title {
  font-weight: var(--normal-f);
  font-size: 2em;
  color: var(--icon-title);
  text-align: center;
}

#in-tech {
  font-size: 0.75em;
}

.about-list {
  margin-bottom: 0.5em;
}

.about-list li {
  padding-left: 40px;
}
#gpa {
  padding-left: 80px;
}

.about-list li::before {
  content: url("../images/chevron-forward-outline-red.svg");
  position: absolute;
  transform: scale(0.5) translateX(-40px);
}

#year-details {
  display: block;
}

#institution,
#company {
  color: var(--white);
  font-weight: var(--bold-f);
}

@media (max-width: 1955px) {
  .about-wrapper {
    width: 55%;
  }

  .about-text-section {
    font-size: 1.25em;
  }
}

@media (max-width: 1536px) {
  .about-wrapper {
    width: 60%;
  }
}

@media (max-width: 1366px) {
  .about-wrapper {
    width: 70%;
  }
}

@media (max-width: 1170px) {
  .about-wrapper {
    width: 85%;
  }
}

@media (max-width: 960px) {
  .about-container {
    flex-direction: column;
  }

  .about-text-section {
    margin-left: 0;
  }

  .about-icon-div {
    width: auto;
    border: none;
  }

  .icon-title {
    margin-bottom: 5%;
  }

  .about-mobile-dots {
    display: flex;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .dot {
    display: inline;
  }

  @media (max-width: 540px) {
    .about-text-section {
      width: 75%;
    }
  }
}

/*
TOOLBOX SECTION
*/

.skills-grid {
  display: grid;
  width: 50%;
  margin: 2% auto;
  grid-template-areas:
    "html css js"
    "react figma python";
  row-gap: 50px;
  padding-bottom: 7vh;
}

.skills-grid img {
  height: 140px;
  width: 140px;
}

.html {
  grid-area: html;
}

.css {
  grid-area: css;
}

.js {
  grid-area: js;
}

.react {
  grid-area: react;
}

.figma {
  grid-area: figma;
}

.python {
  grid-area: python;
}

.skill {
  text-align: center;
  width: 1fr;
}

.skills-grid p {
  margin: 0.5em 0 1.5em 0;
  font-size: 2em;
  font-weight: var(--thin-f);
}

.skills-bottom-text {
  margin-top: 3em !important;
  font-size: 1.5em !important;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 1250px) {
  .skills-grid {
    margin: 5% auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "html css"
      "js react"
      "figma python";
  }
}

@media (max-width: 640px) {
  .skills-grid {
    display: block;
  }
}

/*
PROJECTS
*/
#projects {
  height: 80vh;
}

.projects-wrapper {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.project-placeholder {
  font-size: 2em;
  font-weight: var(--thin-f);
  text-align: center;
}

@media (max-width: 1600px) {
  #projects {
    height: 70vh;
    margin: 5vh auto;
  }

  .project-placeholder {
    font-size: 1.75em;
  }
}

/*
CONTACT
*/

.contact-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-form {
  padding-right: 4%;
  font-size: 2em;
  font-weight: var(--light-f);
  width: 50%;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 1.25em;
  margin: 1em 0;
}

.contact-row.message-row {
  height: auto !important;
}

.contact-form input,
#message {
  font-size: 0.5em;
  font-weight: var(--normal-f);
  height: 100%;
  width: 50%;
  min-width: 300px;
  margin-left: 10%;
  background-color: var(--input);
  border: none;
  padding: 1%;
  border: none;
  color: var(--white);
  transition: background-color 150ms ease-out;
}

#message {
  height: 200px;
  min-width: 300px;
  max-width: 300px;
  align-self: flex-start;
}

#message-label {
  align-self: flex-start;
}

.submit-button {
  height: 40px;
  width: 110px;
  background: transparent;
  border: 2px solid var(--red);
  font-size: 0.75em;
  font-weight: var(--normal-f);
  color: var(--red);
}

.submit-button span {
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.success {
  width: 40px;
  height: 40px;
  background-image: url("../images/checkmark-green.svg");
  background-repeat: no-repeat;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgba(103, 255, 118, 0.2) !important;
  transition: width 0.75s ease-in, margin-right 0.75s ease-in,
    background-color 1s ease-in, border-radius 2s;
}

.success span {
  opacity: 0;
}

.contact-text-field {
  width: 50%;
  padding-left: 4%;
  margin: 2em 0;
}

.contact-text-field p {
  margin-right: 5%;
  font-size: 1.75em;
  font-weight: var(--thin-f);
}

.cv-download-text {
  margin-top: 5% !important;
}

.cv-download-text a {
  color: var(--red);
}

.contact-form input:hover,
#message:hover {
  background-color: var(--input-hover);
}

.contact-form input:focus,
#message:focus {
  outline: none;
  border-bottom: 2px solid var(--red);
}

input:invalid:focus {
  border: 2px solid var(--red);
}

.submit-button:hover {
  background-color: rgba(255, 107, 121, 0.1);
}

.error-message-container {
  display: none;
  color: var(--bright-red);
  font-size: 0.6em;
  text-align: end;
  padding: 1em 0 2em 0;
}

.error-message-container.visible {
  display: flex;
}

@media (max-width: 1300px) {
  .contact-row {
    width: 80%;
    margin-left: 20%;
    flex-direction: column;
    align-items: start;
    height: auto;
  }

  .contact-form input {
    width: 100%;
    min-width: 270px;
    height: 50px;
    margin-left: 0;
  }

  #message {
    width: 100%;
    max-width: 100%;
    min-width: 270px;
    margin-left: 0;
  }

  .contact-text-field p {
    margin-top: 0;
    font-size: 1.75em;
    font-weight: var(--thin-f);
  }

  .submit-button {
    align-self: flex-end;
  }

  .error-message-container.visible {
    align-items: flex-end;
  }
}

@media (max-width: 730px) {
  .contact-wrapper {
    max-width: 100%;
    padding-bottom: 15%;
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 80%;
    padding-right: 0;
  }

  #message {
    margin-left: 0;
  }

  .contact-row {
    width: 100%;
    margin-left: 0;
  }

  .contact-text-field {
    width: 70%;
    padding-left: 0;
    margin: 2em 0;
  }
}

/*
FOOTER
*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darker-background);
}

.footer-text {
  padding: 1em 0;
  font-weight: var(--thin-f);
}

.social-media-icons-footer {
  display: none;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  justify-content: center;
}

.social-media-icons-footer svg {
  margin: 0 5px;
  transition: transform 250ms ease-out, color 250ms;
}

.social-media-icons-footer svg:hover {
  transform: translateY(-5px);
  color: var(--red);
}

@media (max-width: 1300px) {
  .social-media-icons-footer {
    display: flex;
    padding-bottom: 0;
  }
}

/*
SOCIAL MEDIA BAR ON LEFT
*/

.social-media-div {
  position: fixed;
  bottom: 0;
  left: 70px;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.social-media-icons svg {
  margin-bottom: 10px;
  transition: transform 250ms ease-out, color 250ms;
}

.social-media-icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 80px;
  margin: 0 auto;
  background-color: var(--white);
}

.social-media-icons svg:hover {
  transform: translateY(-5px);
  color: var(--red);
}

@media (max-width: 1300px) {
  .social-media-div {
    display: none;
  }
}
